@import "~bootstrap/scss/bootstrap";
@import "_partials/reset.scss";

.welcome {
    background-color: #0f0e17;

    .btn {
        background-color: #ff8906;
        border: none;
        text-transform: uppercase;

        &:hover {
            padding: 10px 20px;
            transition: all 0.5s;
        }
    }

    p {
        color: #a7a9be;
    }

    span {
        color: #ff8906;
    }
}

// INDEX ******************
.header-comics-list {
    background-color: #0f0e17;

    h1 {
        margin: 0;
        color: #ff8906;
    }
}

.main-comics-list {
    background-color: #0f0e17;
}

// SHOW ******************
.header-show {
    background-color: #0f0e17;

    h1 {
        margin: 0;
        color: #ff8906;
        text-transform: uppercase;
    }
}

.main-show {
    background-color: #0f0e17;
    height: 100vh;
}
